

/*
	全局样式
 */

html,body{
	margin: 0;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 12px;
	box-sizing: border-box;
}

.app-wrap{
	min-width: 90rem;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}



.show{
	display: block!important;
}
.hide{
	display: none!important;
}

