
.disfo-wrap{
	width: 100%;
	margin-bottom: 4.5rem;
}

/*标题*/

.disfo-wrap ul{
	background-color: #fff;
	padding-bottom: 0.5rem;
}
.disfo-wrap ul li{
	display: inline-block;
	font-size: 1rem;
	color: #999;
}
.disfo-wrap ul h3{
	display: inline-block;
	margin: 0 1rem 0 0;
}
.disfo-wrap ul span{
	padding: 0 0.5rem;
}
.disfo-wrap ul li.disfo-title-active{
	color: #000;
	font-size: 1.3rem;
}
.disfo-wrap-newsong-active{
	color: #139d72;
}



/*主题*/
.disfo-list{
	box-sizing: border-box;
	width: 100%;
	height: 40rem;
	padding: 1rem 0 0 3.5rem;
	background-color: #f5f7f8;
	border-top: 2px solid #139d72;

}

/*********************/

.single-wrap{
	position: relative;
	display: inline-block;
	margin: 1.5rem 3rem 2rem 0;
}
/*音乐图片信息*/
.cell-pic{
	width: 11rem;
	height: 12rem;
	box-sizing: border-box;
	/*padding: 0.5rem;*/
	background-color: #fff;
	border: 1px solid #ddd;
	position: relative;
}
.cell-pic img{
	width: 10rem;
	height: 11rem;
	position: absolute;
	margin: 0.5rem;
	z-index: 900;
}
.cell-pic-active{
	position: absolute;

	box-sizing: border-box;
	width: 10rem;
	height: 11rem;
	margin: 0.5rem;
	padding: 1rem 1.5rem;

	background-color: #000;
	opacity: 0.7;
	overflow: hidden;
	z-index: 999;
}
.cell-pic-active p{
	margin: 0.3rem 0;
	color: #fff;
	text-overflow: ellipsis;

}
.show-z{
	display: block;
}
.hide-z{
	display: none;
}


/*歌手信息、风格*/
.cell-info{
	/*position: relative;*/
	text-align: center;
}
.cell-info span{
	display: block;
	box-sizing: border-box;
	padding-top: 0.5rem;
	font-size: 1rem;
	color: #9a999a;
}
.cell-info span:nth-of-type(1){
	color: #139d72;
	font-size: 1.2rem;
}